<mat-card class="card-container">
  <div class="search-field">
    <input
      class="search-input"
      type="text"
      id="search"
      required
      [(ngModel)]="search"
    />
    <button class="search-button" (click)="getWeatherByCity(search)" [disabled]="!search">
      <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
    </button>
  </div>
  <div class="weather-field">
    <h2 class="city">
      <span *ngIf="loading">Wetter lädt...</span>
      <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
      <span *ngIf="!loading && !weatherData && !errorMessage">Bitte Stadt eingeben.</span>
      <span *ngIf="!loading && weatherData">Wetter in {{name}}</span>
    </h2>
    <span *ngIf="weatherData">
        <div class="temperature">{{temp}}°C</div>
    <img
      class="weather-icon"
      src="{{iconUrl}}"
      alt="weather icon"
    />
    <div class="description">{{description}}</div>
    <div class="humidity">Luftfeuchtigkeit: {{humidity}}%</div>
    <div class="wind">Windgeschwindigkeit: {{speed}} km/h</div>
    </span>
  </div>
</mat-card>
<div class="footer">
  <div>Die Wetterdaten werden von der OpenWeather API bereitgestellt.</div>
  <a href="https://openweathermap.org/api" target="_blank" >https://openweathermap.org/api</a>
</div>
